<template>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>Carousel Table</b></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-success" @click=" callToModal">
                                <i class="fas fa-user-plus"></i> Add Carousel
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Create At</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(carousel,index) in carousels" :key="carousel.id">
                                <td>{{ index+1 }}</td>
                                <td><img :src="carousel.photo" class="img img-circle" height="30px" width="30px"></td>
                                <td>{{ carousel.title }}</td>
                                <td>{{ carousel.description | reduceText(70, '.........') }}</td>
                                <td>{{ carousel.created_at | myDate }}</td>
                                <td class="text-center">
                                    <a href="#" @click="editCarousel(carousel)"><i class="fa fa-edit text-primary"></i></a> |
                                    <a href="#" @click="deleteCarousel(carousel.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li v-bind:class="[{disabled: !pagination.prev_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchCarousel(pagination.prev_page_url)" href="#"><b>Previous</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#">Page <b>{{ pagination.current_page }}</b> of <b>{{ pagination.last_page }}</b></a>
                        </li>

                        <li v-bind:class="[{disabled: !pagination.next_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchCarousel(pagination.next_page_url)" href="#"><b>Next</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#"> From <b>{{ pagination.from_page }}</b> to <b>{{ pagination.to_page }}</b> out of <b>{{ pagination.total_page }}</b></a>
                        </li>
                    </ul>
                </nav>
                <!-- /.card -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" v-show="!edit" id="addNewLabel">Add New Carousel</h5>
                        <h5 class="modal-title text-center" v-show="edit" id="addNewLabel">Edit Project Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="edit ? updateCarousel() : createCarousel()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Title of Carousel</label>
                                <input v-model="form.title" type="text" name="title" placeholder="Enter Title"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                <has-error :form="form" field="title"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Enter Project Description</label>
                                <textarea v-model="form.description" class="form-control" name="description" rows="4" cols="10" :class="{ 'is-invalid': form.errors.has('description') }" placeholder="Enter Project Description" style="resize:none"></textarea>
                                <has-error :form="form" field="description"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Select Project Photo</label>
                                <input class="form-control" type="file" @change="filesUpload" name="photo" :class="{ 'is-invalid': form.errors.has('photo') }">
                                <has-error :form="form" field="photo"></has-error>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" v-show="!edit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Create Project</button>
                            <button type="submit" v-show="edit" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        data(){
            return {
                edit:false,
                carousels: {},
                pagination:{},
                form: new Form({
                    id:'',
                    title: '',
                    description:'',
                    photo:'',
                }),
            }
        },
        methods: {

            filesUpload(e){
                let image = e.target.files[0];

                if(image['size'] < 3145728){
                    this.form.photo = image;
                } else {
                    Swal.fire("Warning","File Size cannot be more than 3MB","warning");
                }
            },

            createCarousel(){

                    let formData = new FormData();
                    formData.append('title',this.form.title);
                    formData.append('description',this.form.description);
                    formData.append('photo',this.form.photo);

                    const config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    };
                    //this.form.post('api/project')
                    axios.post('/carousel',formData,config)
                    .then(() => {
                        this.$Progress.start();
                        Fire.$emit('AfterCreate');
                        $('#addNew').modal('hide');
                        Toast.fire("Success","User created successfully","success");
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        Swal.fire("Failed","Something went wrong.","warning");
                    });
            },

            fetchCarousel(page_url) {
                page_url = page_url || '/carousel'
                fetch(page_url)
                .then(res => res.json())
                .then(res => {
                    this.carousels = res.data;
                    this.makePagination(res);
                }).catch(() => {
                Swal.fire("Failed","Failed to load Carousel","warning")
                });
            },

            //pagination methods
            makePagination(res){
                let pagination = {
                    current_page : res.current_page,
                    last_page : res.last_page,
                    next_page_url : res.next_page_url,
                    prev_page_url : res.prev_page_url,
                    from_page : res.from,
                    to_page : res.to,
                    total_page : res.total
                };
                this.pagination = pagination;
            },


            deleteCarousel(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Your carousel details will be deleted completely!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then((result) => {
                    if (result.value) {
                    this.form.delete('/carousel/'+id)
                    .then(() => {
                        Swal.fire('Deleted!','Your carousel has been deleted.','success')
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        Swal.fire("Failed","Something went wrong","warning");
                    });
                    }
                });
            },

            callToModal(){
                this.edit = false;
                this.form.reset();  //clear data of form fields before it loads
                $('#addNew').modal('show');
            },

            editCarousel(user){
                this.edit = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },

            updateCarousel(){
                this.form.put('/user/'+this.form.id)
                .then(() => {
                    Toast.fire("Updated","Successfully updated carousel info", "success");
                    $('#addNew').modal('hide');
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    Swal.fire("Failed","Something went wrong", "warning");
                });
            },

            uploadsChanged(event){
                let file = event.target.files[0];
                let reader = new FileReader();

                if(file['size'] < 3145728){
                    reader.onloadend = (file) => {
                        this.form.photo = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else {
                    Swal.fire("Warning","File Size cannot be more than 3MB","warning");
                }
            },

        },
        created() {
            this.fetchCarousel();
            Fire.$on('AfterCreate',() => {
                this.fetchCarousel();
            });
        }
    }
</script>
