<template>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>Comments Table</b></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-success" @click="callToModal">
                                <i class="fas fa-user-plus"></i> Add Comment
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Project Title</th>
                                <th>Comment</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(comment,index) in comments" :key="comment.id">
                                <td>{{ index+1 }}</td>
                                <td>{{ comment.project.title }}</td>
                                <td>{{ comment.comment | reduceText(70, '....')}}</td>
                                <td>{{ comment.created_at | myDate }}</td>
                                <td>
                                    <a href="#" @click="editComment(comment)"><i class="fa fa-edit text-primary"></i></a> |
                                    <a href="#" @click.prevent="deleteComment(comment.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li v-bind:class="[{disabled: !pagination.prev_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchComment(pagination.prev_page_url)" href="#"><b>Previous</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#">Page <b>{{ pagination.current_page }}</b> of <b>{{ pagination.last_page }}</b></a>
                        </li>

                        <li v-bind:class="[{disabled: !pagination.next_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchComment(pagination.next_page_url)" href="#"><b>Next</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#"> From <b>{{ pagination.from_page }}</b> to <b>{{ pagination.to_page }}</b> out of <b>{{ pagination.total_page }}</b></a>
                        </li>
                    </ul>
                </nav>

                <!-- /.card -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" v-show="!edit" id="addNewLabel">Add New Comment</h5>
                        <h5 class="modal-title text-center" v-show="edit" id="addNewLabel">Edit User Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="edit ? updateComment() : createComment()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Select Project Title</label>
                                <select v-model="form.project_id" name="project_id" class="form-control" :class="{ 'is-invalid': form.errors.has('project_id') }">
                                    <option value="" selected>Select Project Title</option>
                                    <option v-for="project in projects" :value="project.id">{{project.title}}</option>
                                </select>
                                <has-error :form="form" field="project_id"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Add Comment</label>
                                <textarea v-model="form.comment" class="form-control" name="comment" rows="5" cols="10" :class="{ 'is-invalid': form.errors.has('comment') }" placeholder="Enter comment here" style="resize:none"></textarea>
                                <has-error :form="form" field="comment"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" v-show="!edit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Create</button>
                            <button type="submit" v-show="edit" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                edit:false,
                comments: {},
                projects: {},
                pagination:{},
                form: new Form({
                    id:'',
                    project_id:'',
                    comment:'',
                }),
            }
        },
        methods: {
            createComment(){
                this.form.post('/comment')
                .then(() => {
                    this.$Progress.start();
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                    Toast.fire("Success","Comment created successfully","success");
                    this.$Progress.finish();
                })
                .catch(() => {
                    Swal.fire("Failed","Something went wrong.","warning");
                });
            },

            fetchComment(page_url) {
                page_url = page_url || '/comment'
                fetch(page_url)
                .then(res => res.json())
                .then(res => {
                    this.comments = res.data;
                    this.makePagination(res);
                }).catch(err => console.log(err));
            },

            makePagination(res){
                let pagination = {
                    current_page : res.current_page,
                    last_page : res.last_page,
                    next_page_url : res.next_page_url,
                    prev_page_url : res.prev_page_url,
                    from_page : res.from,
                    to_page : res.to,
                    total_page : res.total
                };
                this.pagination = pagination;
            },

            loadProject(){
                axios.get("/title/get")
                .then(({ data }) => (this.projects = data.data))
                .catch(() => {
                    Swal.fire("Failed","Failed to load Projects","warning")
                });
            },

            deleteComment(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Comment will be deleted completely!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then((result) => {
                    //sending delete request
                    if (result.value) {
                        this.form.delete('/comment/'+id)
                        .then(() => {
                            Swal.fire('Deleted!','Comment has been deleted.','success')
                            Fire.$emit('AfterCreate');
                        })
                        .catch(() => {
                            Swal.fire("Failed","Failed to delete comment","warning");
                        });
                    }
                });
            },

            callToModal(){
                this.edit = false;
                this.form.reset();  //clear data of form fields before it loads
                $('#addNew').modal('show');
            },

            editComment(comment){
                this.edit = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(comment);
            },

            updateComment(){
                this.form.put('/comment/'+this.form.id)
                .then(() => {
                    Toast.fire("Updated","Successfully updated comment", "success");
                    $('#addNew').modal('hide');
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to update comment", "warning");
                });
            },


        },
        created() {
            this.fetchComment();
            this.loadProject();
            Fire.$on('AfterCreate',() => {
                this.fetchComment();
            });
        }
    }
</script>
