<template>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info-gradient">
                    <div class="inner">
                        <h3>{{projects.all_project}}</h3>
                        <h5>Projects</h5>
                    </div>
                    <div class="icon">
                        <i class="fa fa-star text-white"></i>
                    </div>
                    <router-link :to="{name: 'project'}" class="small-box-footer bg-info">View <i class="fa fa-eye"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success-gradient">
                    <div class="inner">
                        <h3>{{galleries.all_gallery}}</h3>
                        <h5>Galleries</h5>
                    </div>
                    <div class="icon">
                        <i class="fa fa-image text-white"></i>
                    </div>
                    <router-link :to="{name: 'gallery'}" class="small-box-footer bg-success">View <i class="fa fa-eye"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>{{ users.all_users}}</h3>
                        <h5>Users</h5>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user text-warning"></i>
                    </div>
                    <router-link :to="{name: 'users'}" class="small-box-footer bg-warning text-white">View <i class="fa fa-eye"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>{{comments.all_comment}}</h3>
                        <h5>Comments</h5>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comment text-danger"></i>
                    </div>
                    <router-link :to="{name: 'comment'}" class="small-box-footer bg-danger">View <i class="fa fa-eye"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="row mt-3">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>{{carousels.all_carousel}}</h3>
                        <h5>Carousels</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-snowboarding text-secondary"></i>
                    </div>
                    <router-link :to="{ name: 'carousel'}" class="small-box-footer bg-secondary">View <i class="fa fa-eye"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>{{messages.all_message}}</h3>
                        <h5>Messages</h5>
                    </div>
                    <div class="icon">
                        <i class="fa fa-envelope text-dark"></i>
                    </div>
                    <router-link :to="{name: 'message'}" class="small-box-footer bg-dark">View <i class="fa fa-eye"></i></router-link>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                edit:false,
                users:{},
                projects:{},
                carousels:{},
                comments:{},
                messages:{},
                galleries:{},
            }
        },
        methods: {
            userCount(){
            fetch("/user")
            .then(res => res.json())
            .then(res  => {
                let user = {
                    all_users: res.total
                }
                this.users = user;
            })
            .catch(() => {
                Swal.fire("Failed","Failed to count users","warning")
            });
            },

            projectsCount(){
                fetch("/project")
                .then(res => res.json())
                .then(res  => {
                    let project = {
                        all_project: res.total
                    }
                    this.projects = project;
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to count projects","warning")
                });
            },

            carouselCount(){
            fetch("/carousel")
                .then(res => res.json())
                .then(res  => {
                    let carousel = {
                        all_carousel: res.total
                    }
                    this.carousels = carousel;
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to count carousel","warning")
                });
            },

            commentCount(){
            fetch("/comment")
                .then(res => res.json())
                .then(res  => {
                    let comment = {
                        all_comment: res.total
                    }
                    this.comments = comment;
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to count comment","warning")
                });
            },

            messageCount(){
            fetch("/message")
            .then(res => res.json())
            .then(res  => {
                let message = {
                    all_message: res.total
                }
                this.messages = message;
            })
            .catch(() => {
                Swal.fire("Failed","Failed to count message","warning")
            });
            },

            galleryCount(){
            fetch("/gallery")
            .then(res => res.json())
            .then(res  => {
                let gallery = {
                    all_gallery: res.total
                }
                this.galleries = gallery;
            })
            .catch(() => {
                Swal.fire("Failed","Failed to count gallery","warning")
            });
            },

        },
        created() {
            this.userCount();
            this.projectsCount();
            this.carouselCount();
            this.commentCount();
            this.messageCount();
            this.galleryCount();
        }
    }
</script>