<template>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>Gallery Table</b></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-success" @click=" callToModal">
                                <i class="fas fa-user-plus"></i> Add Gallery
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Project Title</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th class="text-center">Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(gallery,index) in galleries" :key="gallery.id">
                                <td>{{index+1}}</td>
                                <td><img :src="gallery.image" class="img img-circle" height="30px" width="30px"></td>
                                <td>{{ gallery.project.title }}</td>

                                <td v-if="gallery.project.status === 'Initiated'">
                                    <b class="btn btn-warning btn-xs">{{ gallery.project.status | uptext }}</b>
                                </td>

                                <td v-else-if="gallery.project.status === 'Ongoing'">
                                    <b class="btn btn-success btn-xs">{{ gallery.project.status | uptext }}</b>
                                </td>

                                <td v-else-if="gallery.project.status === 'Restarted'">
                                    <b class="btn btn-info btn-xs">{{ gallery.project.status | uptext }}</b>
                                </td>

                                <td v-else-if="gallery.project.status === 'Finished'">
                                    <b class="btn btn-secondary btn-xs">{{ gallery.project.status | uptext }}</b>
                                </td>
                                <td>{{ gallery.created_at | myDate }}</td>
                                <td class="text-center">
                                    <a href="#" @click="editGallery(gallery)"><i class="fa fa-edit text-primary"></i></a> |
                                    <a href="#" @click="deleteGallery(gallery.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li v-bind:class="[{disabled: !pagination.prev_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchGallery(pagination.prev_page_url)" href="#"><b>Previous</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#">Page <b>{{ pagination.current_page }}</b> of <b>{{ pagination.last_page }}</b></a>
                        </li>

                        <li v-bind:class="[{disabled: !pagination.next_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchGallery(pagination.next_page_url)" href="#"><b>Next</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#"> From <b>{{ pagination.from_page }}</b> to <b>{{ pagination.to_page }}</b> out of <b>{{ pagination.total_page }}</b></a>
                        </li>
                    </ul>
                </nav>
                <!-- /.card -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" v-show="!edit" id="addNewLabel">Add New Project Gallery</h5>
                        <h5 class="modal-title text-center" v-show="edit" id="addNewLabel">Edit Project Gallery</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="edit ? updateGallery() : createGallery()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Select Project Title</label>
                                <select v-model="form.project_id" name="title" class="form-control" :class="{ 'is-invalid': form.errors.has('project_id') }">
                                    <option value="" selected>Select Project Title</option>
                                    <option v-for="project in projects" :value="project.id">{{project.title}}</option>
                                </select>
                                <has-error :form="form" field="project_id"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Select Project Photo</label>
                                <input class="form-control" type="file" multiple @change="multipleFilesUpload" name="photo" :class="{ 'is-invalid': form.errors.has('photo') }">
                                <has-error :form="form" field="photo"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" v-show="!edit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Create</button>
                            <button type="submit" v-show="edit" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                edit:false,
                galleries: {},
                pagination:{},
                projects:{},
                projectsImage:[],
                form: new Form({
                    id:'',
                    project_id: '',
                    photo:[],
                }),
            }
        },
        methods: {

            multipleFilesUpload(e){
                let images = e.target.files;
                if (!images.length){
                    Swal.fire('Warning','Please Select Images','warning');
                }
                for (let i = 0; i < images.length; i++) {
                    if(images[i].size < 3145728){
                        this.projectsImage.push(images[i]);
                    }else {
                        Swal.fire("Warning","File Size cannot be more than 3MB","warning");
                    }
                }
            },

            createGallery(){
                let formData = new FormData();
                formData.append('title',this.form.title);

                this.projectsImage.forEach((value,key)=>{
                    formData.append('photo[]',value)
                });

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };

                axios.post('/gallery',formData,config)
                .then(() => {
                    this.$Progress.start();
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                    Toast.fire("Success","Project image added successfully","success");
                    this.$Progress.finish();
                    this.form.reset();
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to create project image.","warning");
                });
            },

            fetchGallery(page_url) {
                page_url = page_url || '/gallery'
                fetch(page_url)
                .then(res => res.json())
                .then(res => {
                    this.galleries = res.data;
                    this.makePagination(res);
                }).catch(() => {
                    Swal.fire("Failed","Failed to load Gallery","warning")
                });
            },

            //pagination methods
            makePagination(res){
                let pagination = {
                    current_page : res.current_page,
                    last_page : res.last_page,
                    next_page_url : res.next_page_url,
                    prev_page_url : res.prev_page_url,
                    from_page : res.from,
                    to_page : res.to,
                    total_page : res.total
                };
                this.pagination = pagination;
            },

            loadProject(){
                fetch('/title/get')
                .then(res => res.json())
                .then( res => {
                    this.projects = res.data;
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to load Projects","warning")
                });
            },

            deleteGallery(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Gallery will be deleted completely!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then((result) => {
                    //sending delete request
                    if (result.value) {
                        this.form.delete('/gallery/'+id)
                            .then(() => {
                                Swal.fire('Deleted!','Gallery has been deleted.','success')
                                Fire.$emit('AfterCreate');
                            })
                            .catch(() => {
                                Swal.fire("Failed","Failed to delete gallery","warning");
                            });
                    }
                });
            },

            callToModal(){
                this.edit = false;
                this.form.reset();  //clear data of form fields before it loads
                $('#addNew').modal('show');
            },

            editGallery(gallery){
                this.edit = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(gallery);
            },

            updateGallery(){
                this.form.put('/gallery/'+this.form.id)
                .then(() => {
                    Toast.fire("Updated","Successfully updated gallery info", "success");
                    $('#addNew').modal('hide');
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to update gallery", "warning");
                });
            },

        },
        created() {
            this.fetchGallery();
            this.loadProject();
            Fire.$on('AfterCreate',() => {
                this.fetchGallery();
            });
        }
    }
</script>
