<template>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>Messages Table</b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Message</th>
                                <th>Created At</th>
                                <th>Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(message,index) in messages" :key="message.id">
                                <td>{{ index+1 }}</td>
                                <td>{{ message.name }}</td>
                                <td>{{ message.email }}</td>
                                <td>{{ message.contact }}</td>
                                <td>{{ message.body | reduceText(60, '.........') }}</td>
                                <td>{{ message.created_at }}</td>
                                <td>
                                    <a href="#" @click="viewMessage(message)"><i class="fa fa-eye text-primary"></i></a> |
                                    <a href="#" @click.prevent="deleteMessage(message.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li v-bind:class="[{disabled: !pagination.prev_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchMessage(pagination.prev_page_url)" href="#"><b>Previous</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#">
                                Page <b>{{ pagination.current_page }}</b>
                                of <b>{{ pagination.last_page }}</b>
                            </a>
                        </li>

                        <li v-bind:class="[{disabled: !pagination.next_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchMessage(pagination.next_page_url)" href="#"><b>Next</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#">
                                From <b>{{ pagination.from_page }}</b> to <b>{{ pagination.to_page }}</b> out of <b>{{ pagination.total_page }}</b>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.card -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="addNewLabel">Edit Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="updateMessage()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Name</label>
                                <input v-model="form.name" type="text" name="name" placeholder="Enter Name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input v-model="form.email" type="email" name="email" placeholder="Enter Email"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>


                            <div class="form-group">
                                <label>Contact</label>
                                <input v-model="form.contact" type="text" name="contact" placeholder="Enter Contact"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('contact') }">
                                <has-error :form="form" field="contact"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Body</label>
                                <textarea v-model="form.body" class="form-control" name="body" rows="5" cols="10" :class="{ 'is-invalid': form.errors.has('body') }" placeholder="Enter body here" style="resize:none"></textarea>
                                <has-error :form="form" field="body"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Edit</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        data(){
            return {
                messages: {},
                pagination:{},
                form: new Form({
                    id:'',
                    name: '',
                    email:'',
                    contact:'',
                    body:'',
                }),
            }
        },
        methods: {

            fetchMessage(page_url) {
                page_url = page_url || '/message'
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.messages = res.data;
                        this.makePagination(res);
                    }).catch(() => {
                    Swal.fire("Failed","Failed to load messages","warning")
                });
            },

            makePagination(res){
                let pagination = {
                    current_page : res.current_page,
                    last_page : res.last_page,
                    next_page_url : res.next_page_url,
                    prev_page_url : res.prev_page_url,
                    from_page : res.from,
                    to_page : res.to,
                    total_page : res.total
                };
                this.pagination = pagination;
            },

            updateMessage(){
                this.form.put('/message/'+this.form.id)
                .then(() => {
                    Toast.fire("Updated","Successfully updated message info", "success");
                    $('#addNew').modal('hide');
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to update message", "warning");
                });
            },

            deleteMessage(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Selected Message will be deleted completely!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then((result) => {
                    //sending delete request
                    if (result.value) {
                        this.form.delete('/message/'+id)
                        .then(() => {
                            Swal.fire('Deleted!','Message has been deleted.','success')
                            Fire.$emit('AfterCreate');
                        })
                        .catch(() => {
                            Swal.fire("Failed","Failed to delete message","warning");
                        });
                    }
                });
            },

            callToModal(){
                this.edit = false;
                this.form.reset();  //clear data of form fields before it loads
                $('#addNew').modal('show');
            },

            viewMessage(user){
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },

        },
        created() {
            this.fetchMessage();
            Fire.$on('AfterCreate',() => {
                this.fetchMessage();
            });
        }
    }
</script>
