<template>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>Projects Table</b></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-success" @click="callToModal">
                                <i class="fas fa-user-plus"></i> Add Project
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Status</th>
                                <th>Posted By</th>
                                <th>Create At</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(project,index) in projects" :key="project.id">
                                <td>{{ index+1 }}</td>
                                <td><img :src="project.photo" class="img img-circle" height="30px" width="30px"></td>
                                <td>{{ project.title | uptext }}</td>
                                <td>{{ project.body  | reduceText(70, '.........')}}</td>

                                <td v-if="project.status === 'Initiated'">
                                    <b class="btn btn-warning btn-xs">{{ project.status | uptext }}</b>
                                </td>

                                <td v-else-if="project.status === 'Ongoing'">
                                    <b class="btn btn-success btn-xs">{{ project.status | uptext }}</b>
                                </td>

                                <td v-else-if="project.status === 'Restarted'">
                                    <b class="btn btn-info btn-xs">{{ project.status | uptext }}</b>
                                </td>

                                <td v-else-if="project.status === 'Finished'">
                                    <b class="btn btn-secondary btn-xs">{{ project.status | uptext }}</b>
                                </td>

                                <td>{{ project.user.name }}</td>
                                <td>{{ project.created_at | myDate}}</td>
                                <td>
                                    <a href="#" @click="editProject(project)"><i class="fa fa-edit text-primary"></i></a> |
                                    <a href="#" @click.prevent="deleteProject(project.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li v-bind:class="[{disabled: !pagination.prev_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchProject(pagination.prev_page_url)" href="#"><b>Previous</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#">Page <b>{{ pagination.current_page }}</b> of <b>{{ pagination.last_page }}</b></a>
                        </li>

                        <li v-bind:class="[{disabled: !pagination.next_page_url }]" class="page-item">
                            <a class="page-link" @click="fetchProject(pagination.next_page_url)" href="#"><b>Next</b></a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link text-dark" href="#"> From <b>{{ pagination.from_page }}</b> to <b>{{ pagination.to_page }}</b> out of <b>{{ pagination.total_page }}</b></a>
                        </li>
                    </ul>
                </nav>
                <!-- /.card -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" v-show="!edit" id="addNewLabel">Add New Project</h5>
                        <h5 class="modal-title text-center" v-show="edit" id="addNewLabel">Edit Project Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="edit ? updateProject() : createProject()">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Title</label>
                                <input v-model="form.title" type="text" name="title" placeholder="Enter Title"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                <has-error :form="form" field="title"></has-error>
                            </div>

                            <div class="form-group">
                                <label>Enter Project Description</label>
                                <textarea v-model="form.body" class="form-control" name="body" rows="7" cols="10" :class="{ 'is-invalid': form.errors.has('body') }" placeholder="Enter Project Description" style="resize:none"></textarea>
                                <has-error :form="form" field="body"></has-error>
                            </div>

                            <div class="form-group">
                                <label v-show="!edit">Select Project Photo</label>
                                <input v-show="!edit" class="form-control" type="file" multiple @change="multipleFilesUpload" name="photo" :class="{ 'is-invalid': form.errors.has('photo') }">
                                <has-error :form="form" field="photo"></has-error>

                                <!--<input v-show="edit" class="form-control" type="file" @change="uploadSingleImage" name="image" :class="{ 'is-invalid': form.errors.has('image') }">-->
                                <!--<has-error :form="form" field="image"></has-error>-->
                            </div>

                            <div class="form-group">
                                <label>Select Project Status</label>
                                <select v-model="form.status" class="form-control" name="status" :class="{ 'is-invalid': form.errors.has('status') }">
                                    <option value="">Select Status</option>
                                    <option value="Initiated">Initiated</option>
                                    <option value="Ongoing">Ongoing</option>
                                    <option value="Finished">Finished</option>
                                    <option value="Restarted">Restarted</option>
                                </select>
                                <has-error :form="form" field="status"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" v-show="!edit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Create Project</button>
                            <button type="submit" v-show="edit" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                edit:false,
                projects: {},
                pagination:{},
                projectsImage:[],
                form: new Form({
                        id:'',
                        title:'',
                        body:'',
                        status:'',
                        photo:[],
                        image:'',
                }),
            }
        },
        methods: {
            multipleFilesUpload(e){
                let images = e.target.files;
                if (!images.length){
                    Swal.fire('Warning','Please Select Images','warning');
                }
                for (let i = 0; i < images.length; i++) {
                    if(images[i].size < 3145728){
                        this.projectsImage.push(images[i]);
                    }else {
                        Swal.fire("Warning","File Size cannot be more than 3MB","warning");
                    }
                }
            },

            createProject(){
                let formData = new FormData();
                formData.append('title',this.form.title);
                formData.append('body',this.form.body);
                formData.append('status',this.form.status);

                this.projectsImage.forEach((value,key)=>{
                    formData.append('photo[]',value)
                });

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };

                axios.post('/project',formData,config)
                .then(() => {
                    this.$Progress.start();
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                    Toast.fire("Success","Project created successfully","success");
                    this.$Progress.finish();
                    this.form.reset();
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to create project.","warning");
                });
            },

            fetchProject(page_url) {
                page_url = page_url || '/project'
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.projects = res.data;
                        this.makePagination(res);
                    }).catch(() => {
                    Swal.fire("Failed","Failed to load Projects","warning")
                });
            },

            makePagination(res){
                let pagination = {
                    current_page : res.current_page,
                    last_page : res.last_page,
                    next_page_url : res.next_page_url,
                    prev_page_url : res.prev_page_url,
                    from_page : res.from,
                    to_page : res.to,
                    total_page : res.total
                };
                this.pagination = pagination;
            },

            deleteProject(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Your project will be deleted completely!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then((result) => {
                    //sending delete request
                    if (result.value) {
                        this.form.delete('/project/'+id)
                        .then(() => {
                            Swal.fire('Deleted!','Your project has been deleted.','success')
                            Fire.$emit('AfterCreate');
                        })
                        .catch(() => {
                            Swal.fire("Failed","Something went wrong","warning");
                        });
                    }
                });
            },

            callToModal(){
                this.edit = false;
                this.form.reset();  //clear data of form fields before it loads
                $('#addNew').modal('show');
            },

            editProject(project){
                this.edit = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(project);
            },

            uploadSingleImage(e){

                let file = e.target.files[0];
                if(file['size'] < 3145728){
                    this.form.image = file;
                } else {
                    Swal.fire("Warning","File Size cannot be more than 3MB","warning");
                }
            },

            updateProject(){
                let config = {
                   'Content-Type': 'multipart/form-data'
                };
                //axios.put('/project/'+this.form.id,this.formData)
                this.form.put('/project/'+this.form.id)
                .then(() => {
                    Toast.fire("Updated","Successfully updated user info", "success");
                    $('#addNew').modal('hide');
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    Swal.fire("Failed","Failed to update project", "warning");
                });
            },
        },
        created() {
            this.fetchProject();
            Fire.$on('AfterCreate',() => {
                this.fetchProject();
            });
        }
    }
</script>
