<template>
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><b>Users Table</b></h3>

              <div class="card-tools">
                <button type="button" class="btn btn-success" @click="callToModal">
                  <i class="fas fa-user-plus"></i> Add User
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Type</th>
                      <th>Contact</th>
                      <th>Position</th>
                      <th>Create At</th>
                      <th>Modify</th>
                  </tr>
                </thead>
                <tbody>
                <tr v-for="(user,index) in users" :key="user.id" >
                    <td>{{ index+1 }}</td>
                    <td><img :src="user.photo" class="img img-circle" height="30px" width="30px"></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.type | uptext}}</td>
                    <td>{{ user.contact}}</td>
                    <td>{{ user.position | uptext}}</td>
                    <td>{{ user.created_at | myDate }}</td>
                  <td>
                      <a href="#" @click="editUsers(user)"><i class="fa fa-edit text-primary"></i></a> |
                      <a href="#" @click.prevent="deleteUser(user.id)"><i class="fa fa-trash text-danger"></i></a>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center">
                <li v-bind:class="[{disabled: !pagination.prev_page_url }]" class="page-item">
                    <a class="page-link" @click="fetchUser(pagination.prev_page_url)" href="#"><b>Previous</b></a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#">Page <b>{{ pagination.current_page }}</b> of <b>{{ pagination.last_page }}</b></a>
                </li>

                <li v-bind:class="[{disabled: !pagination.next_page_url }]" class="page-item">
                    <a class="page-link" @click="fetchUser(pagination.next_page_url)" href="#"><b>Next</b></a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#"> From <b>{{ pagination.from_page }}</b> to <b>{{ pagination.to_page }}</b> out of <b>{{ pagination.total_page }}</b></a>
                </li>
            </ul>
        </nav>
          <!-- /.card -->
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" v-show="!edit" id="addNewLabel">Add New User</h5>
            <h5 class="modal-title text-center" v-show="edit" id="addNewLabel">Edit User Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="edit ? updateUser() : createUser()">
          <div class="modal-body">

              <div class="form-group">
               <label>Name</label>
               <input v-model="form.name" type="text" name="name" placeholder="Enter Name"
                 class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
               <has-error :form="form" field="name"></has-error>
             </div>

             <div class="form-group">
              <label>Email</label>
              <input v-model="form.email" type="email" name="email" placeholder="Enter Email"
                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
              <has-error :form="form" field="email"></has-error>
            </div>

            <div class="form-group">
             <label>Password</label>
             <input v-model="form.password" type="password" name="password" placeholder="Enter Password"
               class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
             <has-error :form="form" field="password"></has-error>
           </div>

          <div class="form-group">
              <label>Contact</label>
              <input v-model="form.contact" type="text" name="contact" placeholder="Enter Contact"
                     class="form-control" :class="{ 'is-invalid': form.errors.has('contact') }">
              <has-error :form="form" field="contact"></has-error>
          </div>

          <div class="form-group">
              <label>Position</label>
              <input v-model="form.position" type="text" name="position" placeholder="Enter Position"
                     class="form-control" :class="{ 'is-invalid': form.errors.has('position') }">
              <has-error :form="form" field="position"></has-error>
          </div>

           <div class="form-group">
              <label>User Type</label>
              <select v-model="form.type" class="form-control" name="type" :class="{ 'is-invalid': form.errors.has('type') }">
                 <option value="">Select User</option>
                 <option value="Admin">Admin</option>
                 <option value="User">User</option>
                 <option value="Manager">Manager</option>
                 <option value="SuperAdmin">Super Admin</option>
              </select>
              <has-error :form="form" field="type"></has-error>
           </div>

           <div class="form-group">
             <label>Enter Biography</label>
              <textarea v-model="form.bio" class="form-control" name="bio" rows="3" cols="10" :class="{ 'is-invalid': form.errors.has('bio') }" placeholder="Enter biography here" style="resize:none"></textarea>
              <has-error :form="form" field="bio"></has-error>
           </div>

           <div class="form-group">
             <label>Select Profile Image</label>
             <input class="form-control" type="file" @change="uploadsChanged" name="photo" :class="{ 'is-invalid': form.errors.has('photo') }">
             <has-error :form="form" field="photo"></has-error>
           </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" v-show="!edit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Create</button>
            <button type="submit" v-show="edit" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> Edit</button>
          </div>
          </form>
        </div>
      </div>
      </div>

    </div>
</template>

<script>
    export default {
        data(){
          return {
             edit:false,
             users: {},
              pagination:{},
             form: new Form({
                 id:'',
                 name: '',
                 email:'',
                 password: '',
                 contact:'',
                 position:'',
                 type:'',
                 bio:'',
                 photo:'',
             }),
           }
        },
        methods: {
            createUser(){
               this.form.post('/user')
               .then(() => {
                  this.$Progress.start();
                 //reload the page aftering saving
                 Fire.$emit('AfterCreate');
                 //closing the modal
                 $('#addNew').modal('hide');
                 //adding the alert
                 Toast.fire("Success","User created successfully","success");
                 //get all users
                 this.$Progress.finish();
               })
               .catch(() => {
                  Swal.fire("Failed","Something went wrong.","warning");
               });
             },

            // loadUsers(){
            //    axios.get("/user")
            //    .then(({ data }) => (this.users = data.data))
            //    .catch(() => {
            //       Swal.fire("Failed","Something went wrong.","warning")
            //    });
            //  },

            fetchUser(page_url) {
                page_url = page_url || '/user'
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.users = res.data;
                        this.makePagination(res);
                    }).catch(() => {
                    Swal.fire("Failed","Failed to load users","warning")
                });
            },

            makePagination(res){
                let pagination = {
                    current_page : res.current_page,
                    last_page : res.last_page,
                    next_page_url : res.next_page_url,
                    prev_page_url : res.prev_page_url,
                    from_page : res.from,
                    to_page : res.to,
                    total_page : res.total
                };
                this.pagination = pagination;
            },

            deleteUser(id){
              Swal.fire({
                 title: 'Are you sure?',
                 text: "Your user will be deleted completely!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Yes, delete it!'
                })
                .then((result) => {
                 //sending delete request
                if (result.value) {
                  this.form.delete('/user/'+id)
                  .then(() => {
                     Swal.fire('Deleted!','Your user has been deleted.','success')
                     Fire.$emit('AfterCreate');
                  })
                  .catch(() => {
                    Swal.fire("Failed","Something went wrong","warning");
                  });
                }
              });
            },

            callToModal(){
              this.edit = false;
              this.form.reset();  //clear data of form fields before it loads
              $('#addNew').modal('show');
            },

            editUsers(user){
               this.edit = true;
               this.form.reset();
               $('#addNew').modal('show');
               this.form.fill(user);
            },

            updateUser(){
               this.form.put('/user/'+this.form.id)
               .then(() => {
                 Toast.fire("Updated","Successfully updated user info", "success");
                 $('#addNew').modal('hide');
                 Fire.$emit('AfterCreate');
               })
               .catch(() => {
                  Swal.fire("Failed","Something went wrong", "warning");
               });
            },

            uploadsChanged(event){
                let file = event.target.files[0];
                let reader = new FileReader();

                if(file['size'] < 3145728){
                    reader.onloadend = (file) => {
                        this.form.photo = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else {
                  Swal.fire("Warning","File Size cannot be more than 3MB","warning");
                }
            },

        },
        created() {
            this.fetchUser();
            Fire.$on('AfterCreate',() => {
              this.fetchUser();
            });
          //  setInterval(() => this.loadUsers(),3000);
        }
    }
</script>
